<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.integratedHub.dao.BCaneMapper">

    <resultMap id="BCaneMap" type="com.example.integratedHub.entity.BCane" autoMapping="true"></resultMap>

    <select id="selectPage" resultMap="BCaneMap">
        SELECT
            bc.id,
            bc.cane_name,
            bc.cane_alias,
            bc.genericname,
            bc.category_id,
            bc.status,
            bc.create_time,
            bc.create_by,
            bcc.category_name
        FROM
            b_cane bc
        LEFT JOIN
            b_cane_category bcc ON bcc.id  = bc.category_id
        <where>
            <if test="vo.caneName != null and vo.caneName != ''">
                and (cane_name like CONCAT('%',#{vo.caneName},'%'))
            </if>
            <if test="vo.categoryId != null and vo.categoryId != ''">
                AND category_id = #{vo.categoryId}
            </if>
        </where>
        order by id desc
    </select>
</mapper>
