<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.integratedHub.dao.BCaneMapper">

    <resultMap id="BCaneMap" type="com.example.integratedHub.entity.BCane" autoMapping="true"></resultMap>

    <select id="selectPage" resultMap="BCaneMap">
        SELECT
            bc.id,
            bc.cane_name,
            bc.cane_alias,
            bc.genericname,
            bc.category_id,
            bc.status,
            bc.create_time,
            bc.create_by,
            bcc.category_name,
            bc.description,
            bc.view_count,
            bc.image_path
        FROM
            b_cane bc
        LEFT JOIN
            b_cane_category bcc ON bcc.id  = bc.category_id
        <where>
            <if test="vo.keyword != null and vo.keyword != ''">
                AND (bc.cane_name LIKE CONCAT('%', #{vo.keyword}, '%') OR bc.description LIKE CONCAT('%', #{vo.keyword}, '%'))
            </if>
        </where>
        <choose>
            <when test="vo.sortType == 'nums'">
                ORDER BY bc.view_count DESC
            </when>
            <otherwise>
                ORDER BY bc.id DESC
            </otherwise>
        </choose>
    </select>
</mapper>
