<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.integratedHub.dao.BFBaseMapper">

    <resultMap id="bfMap" type="com.example.integratedHub.entity.BFBase" autoMapping="true"></resultMap>

    <select id="selectPage" resultMap="bfMap">
        select *
        from b_f_base
        <where>
            1 = 1
            <if test="vo.varietyName != null and vo.varietyName != ''">
                and (variety_name like CONCAT('%',#{vo.varietyName},'%'))
            </if>
        </where>
        order by id desc
    </select>
</mapper>
