<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.integratedHub.dao.BWumingBaseMapper">


    <select id="selectPage" resultType="com.example.integratedHub.entity.BWumingBase">
        select *
        from b_wuming_base
        <where>
            1 = 1
            <if test="vo.varietyName != null and vo.varietyName != ''">
                and (variety_name like CONCAT('%',#{vo.varietyName},'%'))
            </if>
            <if test="vo.sampleFang != null and vo.sampleFang != ''">
                and (sample_fang = #{vo.sampleFang} )
            </if>
            <if test="vo.samplePlot != null and vo.samplePlot != ''">
                and (sample_plot = #{vo.samplePlot} )
            </if>
        </where>
        order by id desc
    </select>

</mapper>
